<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="/script.js" defer></script>
    <title>Chat Website</title>
  </head>
  <body class="container-fluid">
    <div class="sidebar">
      <div class="header">
        <div class="avatar">
          <img src="https://cdn.glitch.global/c939f23d-8cc0-4a93-a673-eb941a9369b8/avatar.png?v=1669380775329" alt="" />
        </div>
        <div class="profile-info">
          <h4><%= user.username %></h4>
          <p><%= user.email %></p>
        </div>
      </div>
        <form method = "POST" action = "/chat/search-user">
      <div class="sidebar-search">
        <div class="sidebar-search-container">          
              <input type="text" id="user_email" name="user_email" placeholder="Search" required />
           <button type="submit" class = "search-button">
             <img src="https://cdn.glitch.global/c939f23d-8cc0-4a93-a673-eb941a9369b8/search-solid.svg?v=1669380840035" alt="" />
            </button>           
        </div>
      </div>
          </form>
      <div class="sidebar-chats">
                            <% if (chat_list) { 
               chat_list.forEach(function(chat){                  
               %>
        <a href="/chat/view-chat/<%=chat.id%>" class="sidebar-chat">
          <div class="chat-avatar">
            <img src="https://cdn.glitch.global/c939f23d-8cc0-4a93-a673-eb941a9369b8/avatar.png?v=1669380775329" alt="" />
          </div>        
              <div class="chat-info">
               <h4><%= chat.username %></h4>                           
            <p>Last Message</p>
          </div>
          <div class="time">
            <p>22:20 pm</p>
          </div>                
        </a>   
          <% })}
             else { %>
             <p>
               No chats
            </p>
              <% } %>
      </div>
    </div>
    <div class="message-container">
      <div class="text-center">
        <p class="instructions">
          Select a chat to view messages
        </p>
      </div>
    </div>
  </body>
</html>
